
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html{
    margin: none;
    scroll-behavior: smooth;
}

body{
    background: rgb(27, 26, 26);
    height: 100%;
}

#box-principal{
    display: block;
    padding:0;
}


/* --------------- nav --------------- */


nav {
    width: 100%;
    height: 7%;
    position: fixed;
    background: #203244;
    box-shadow: #1b1818 3px 3px 5px 3px

 }

nav ul{
    display: flex;
    float: right;
    margin-right: 8%;
}

nav li {
    list-style: none;
    margin-top: 0.8rem;
    margin-left: 3rem;
    font-size: 1.8rem;  
    transition: 300ms; 
}


.link{
    text-transform: uppercase;
    color: white;
}

.link:hover{
    color: green;
    
}


/* ---------------------------------------------------- */




/* ---------------- Page inicio ----------------------- */

.flex{
    display: flex;
}

.box{
    width: 100%;
    height: 53.3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.box-inicio{
    width: 90%;
    height: 40rem;
    margin: auto;
    padding-top: 15rem;
}

.box-img{
    width: 50%;
    height: 20rem;
    margin: auto;
    text-align: center;  
    padding: 5rem;

}

.img-pc{
    height: 10rem;
    margin-bottom: 3rem;
    width: 15rem;

}
.title-name{
    font-size: 3rem;
    color: white;
    width: 90%;
    margin: auto;
}

.title-text {
    color: rgb(211, 200, 200);
    width: 90%;
    margin: auto;

}
.title-name, .title-text, .title-portfolio{
    text-transform: uppercase;
}


/* ------------------- page portfolio ---------------------- */



    
.box-portfolio{
    background: rgb(151, 24, 24);
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;  
    width: 100%;
    height: 53.3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.title-portfolio{
    width: 50%;
    height: 6rem;
    color: white;
}

.title-portfolio > h1{
    width: 95%;
    height: 4rem;
    margin: auto;
    font-size: 3rem; 
}



.divider-line {
    width: 30%;
    height: 0.25rem;
    background-color: white;
    border-radius: 1rem;
    margin: auto;
}
/* ----------------- section-portfolio ---------------------- */


.box-portfolio-section-1{
    width: 95%;
    height: 23rem;
    justify-content: space-around;
    align-content: space-around;   
    margin-right: 10%;
    margin-left: 10%;
}

.box-portfolio-section-2{
    width: 18%;
    height: 85%; 
}

.box-portfolio-section{
    width: 98%;
    height: 20rem;
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    padding: 0.5;
    padding-top: 1rem;
    transition: 300ms;
    margin: auto;
    
}

.img-portfolio{
    width: 70%;
    height: 50%;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.img-portfolio:hover{
    box-shadow: black 7px 13px 20px 5px;
    transition: 100ms;

}

.box-portfolio-section:hover{
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    box-shadow: rgb(67 8 8) 7px 13px 20px 8px;
    transform: scale(1.1);
    transition: 300ms;
    background: rgb(27, 26, 26) 
}

.title-project{
    text-transform: uppercase;
    color: white;
    margin: auto;
    width: 95%;
    height: 2rem;
    font-size: 90%;
}

.box-p-portfolio{
    width: 90%;
    height: 27%;
    margin: auto;
    border: 1px solid green;
    border-radius: 0.5rem;
    background: #5d5f61;
}


.p-portfolio{
    color: black;
    width: 90%;
    height: 75%;
    margin: auto;
    border-radius: 0.5rem;
    font-size: 90%;
    margin-top: 0.5rem;
}


/* -------------------------------------------------------------- */

/* ----------------------- Skills ---------------------------- */


.box-skills{
    margin: auto;
    width: 80%;
    height: 10rem;
}
.box-skills-1{
    width: 90%;
    height: 6rem;
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-content: space-around; 
    margin: auto;
}
.box-skills > h1{
    font-size: 2rem;
    width: 20%;
    margin: auto;
    text-transform: uppercase;
}

.box-skill-2{
    width: 6%;
    height: 75%;
}

.img-skills{
    width: 80%;
    height: 90%;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
}


.img-skills:hover{
    background: #203244;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    transform: scale(1.1);
}


/* ------------------------------------------------- */


/* ----------------------- page about ----------------------------- */


.box3{
    background: green;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;  
    width: 100%;
    height: 53.3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.title-about{
    width: 50%;
    height: 5rem;
    color: white;
    border: 0.2rem solid yellow;
    margin: auto;
    margin-top: 2rem;
}

.title-about > h1{
    border: 1px solid purple;
    font-size: 3rem; 
    text-transform: uppercase;
}


.box-content{
    width: 80%;
    height: 45rem;
    border: 1px solid white;
    margin: auto;
    display: flex;
}

.box-img-profile{
    width: 20%;
    height: 40rem;
    border: 1px solid red;
    margin: auto;

}

.box-text-about{
    width: 60%;
    height: 40rem;
    border: 1px solid red;
    margin: auto;

}
.box-redes{
    width: 10%;
    height: 40rem;
    border: 1px solid red;
    margin: auto;
    
}

.box-redes-1{
    width: 40%;
    height: 4rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: auto;
    margin-top: 50%;
}

.box-redes-1:hover{
    transform: scale(1.1);

}

/* ----------------------------------------------------- */



/* --------------------------- footer ---------------------------- */



footer{
    height: 2rem;
    border: 1px solid black;
    text-align: center;
    padding-top: 0.5rem;

}

.box-footer{
    border: 1px solid white;
    width: 50%;
    margin: auto;
    color: white;
    font-size: 0.5rem;
}