
*{
    padding: 0;
    margin: 0;
}

html{
    margin: none;
    scroll-behavior: smooth;
}

body{
    background: rgb(27, 26, 26);
    height: 100%;
}

#box-principal{
    display: block;
    padding:0;
}


/* --------------- barra de navegacion --------------- */


nav {
    width: 100%;
    height: 7%;
    position: fixed;
    background: #203244;
    box-shadow: #1b1818 3px 3px 5px 3px

 }

nav ul{
    display: flex;
    float: right;
    margin-right: 8%;
}

nav li {
    list-style: none;
    margin-top: 0.8rem;
    margin-left: 3rem;
    font-size: 1.8rem;   
}

.link{
    text-transform: uppercase;

    color: white;
}

.link:hover{

    color: green;
}


/* ---------------------------------------------------- */




/* ---------------- Pagina de inicio ----------------------- */

.flex{
    display: flex;
}

.box{
    width: 100%;
    height: 51.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.box-inicio{
    width: 90%;
    height: 40rem;
    border: 1px solid olivedrab;
    margin: auto;
    padding-top: 15rem;
}

.box-img{
    width: 50%;
    height: 20rem;
    margin: auto;
    border: 0.2rem solid white;
    text-align: center;  
    padding: 5rem;

}

.img-pc{
    height: 10rem;
    border: 0.2rem solid green;
    margin-bottom: 3rem;
    width: 15rem;

}
.title-name{
    font-size: 3rem;
    color: white;
    border: 0.2rem solid gray;
    width: 90%;
    margin: auto;
}

.title-text {
    color: rgb(211, 200, 200);
    border: 0.2rem solid purple;
    width: 90%;
    margin: auto;

}
.title-name, .title-text, .title-portfolio{
    text-transform: uppercase;
}


/* ------------------- pagina portfolio ---------------------- */



    
.box-portfolio{
    background: rgb(151, 24, 24);
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;  
    width: 100%;
    height: 51.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.title-portfolio{
    width: 50%;
    height: 6rem;
    color: white;
    border: 0.2rem solid yellow;

}

.title-portfolio > h1{
    border: 1px solid purple;
    width: 95%;
    height: 4rem;
    margin: auto;
    font-size: 3rem; 
}



.divider-line {
    width: 50%;
    height: 0.25rem;
    background-color: white;
    border-radius: 1rem;
    margin: auto;
}

.box-portfolio-section-1{
    width: 95%;
    height: 30rem;
    border: 1px solid purple;
    justify-content: space-around;
    align-content: space-around;   
}

.box-portfolio-section-2{
    width: 19%;
    height: 85%;
    border: 1px solid green;
    justify-content: space-around;
    align-content: space-around;   
}

.box-portfolio-section{
    width: 90%;
    height: 25rem;
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: 300ms;
    margin: auto;
}

.img-portfolio{
    width: 95%;
    height: 47%;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}


.box-portfolio-section:hover{
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    box-shadow: rgb(67 8 8) 7px 13px 20px 8px;
    transform: scale(1.1);
    transition: 300ms;
    background: rgb(27, 26, 26) 
}

.title-project{
    border: 0.2rem solid green;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1rem;
    width: 95%;
    height: 2rem;
    font-size: 99%;
}
.p-portfolio{
    border: 0.2rem solid orange;
    font-size: 99%;
    color: white;
    width: 95%;
    height: 5em;
}

/* ------------------------------------------------- */



/* ----------------------- pagina sobre mi ----------------------------- */


.box3{
    background: green;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;  
    width: 100%;
    height: 51.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.title-about{
    width: 50%;
    height: 5rem;
    color: white;
    border: 0.2rem solid yellow;
    margin: auto;
    margin-top: 4rem;
}

.title-about > h1{
    border: 1px solid purple;
    font-size: 3rem; 
    text-transform: uppercase;
}


.box-content{
    width: 95%;
    height: 33rem;
    border: 1px solid white;
    margin: auto;
    margin-bottom: 1rem;
}


.box-skills{
    margin: auto;
    width: 95%;
    height: 12rem;
    border: 1px solid blue;
}
.box-skills-1{
    width: 95%;
    height: 7rem;
    border: 1px solid gray;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-content: space-around; 
    margin: auto;
}
.box-skills > h1{
    border: 1px solid white;
    font-size: 2rem;
    width: 20%;
    margin: auto;
}

.img-skills{
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
}


.img-skills:hover{
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    transform: scale(1.1);
}


/* -------------------------------------------------------------- */


/* --------------------------- footer ---------------------------- */



footer{
    height: 2rem;
    border: 1px solid black;
    text-align: center;
    padding-top: 0.5rem;

}

.box-footer{
    border: 1px solid white;
    width: 50%;
    margin: auto;
    color: white;
    font-size: 0.5rem;
}